html, body {
    background-image: url('/img/club-photo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    font-family: 'Helvetica', 'Verdana', 'Noto-sans', 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
}

main {
  margin-bottom: 9rem;
}

html {
  position: relative;
}

#welcome-title {
  color: #fff;
}

#club-info {
  min-width: 100px;
  min-height: 300px;
}

#footer {
  color: #fff;
  
  position: absolute;
  bottom: 0;
}

#nav-link {
  color: #708090;
  font-size: 1.2rem;
}

#nav-link:hover {
  color: #000;
  text-decoration: none;
}

#logo-name {
  color: #708090;
}

#logo-name:hover {
  color: #000;
  text-decoration: none;
}

#logo {
  width: 50px;
  height: 50px;
}
