html, body {
    background-image: url('/img/back1.jpg'), url('/img/back2.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover, cover;
    background-position: center, center;
    color: #000;
    font-family: 'Helvetica', 'Verdana', 'Noto-sans', 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
}

html {
  position: relative;
}

#site-desc {
  color: #fff;
}

#site-hr {
  border-top: 1px dotted #ffef0a;
}

#main-img {
  width: 75%;
}

#address-title {
  text-decoration: underline;
}

#left-info {
  color: #ffef0a;
}

#welcome-title {
  font-size: 1.5rem;
}

#club-info {
  min-width: 100px;
  min-height: 300px;
}

#footer {
  color: #ffef0a;
  position: absolute;
  bottom: 0;
}

#nav-link {
  color: #fff;
  font-size: 1.2rem;
}

#nav-link:hover {
  color: #ffef0a;
  text-decoration: none;
}

#logo-name {
  color: #fff;
}

#logo-name:hover {
  color: #ffef0a;
  text-decoration: none;
}

#logo {
  width: 50px;
  height: 50px;
}
